@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,400;0,500;0,600;1,400&display=swap');@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,400;0,500;0,600;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:sans-serif;
    font-size: 16px;
    background-color: rgba(246, 238, 238, 0.764);
}

p{
    font-size: 16px;
    line-height: 24px;
}
h2{
       margin-top: 0px;
        font-size: 28px;

}
a{
  text-decoration: none;
  color: black;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.text-centre{
    text-align: center;
    max-width: 680px;
    margin: auto;
}
.container{
   max-width: 1000px;
   margin: auto;
}
section{
    margin: 20px 0;
    
}

.flex{
    display: flex;

    &.flex-wrap{
        flex-wrap: wrap;
    }
    &.flex-center{
        align-items: center;
        justify-content: center;
    }
}

.gap{
    gap:25px
}
img{
    width: 100%;
    object-fit: cover;
    height: 65vh;
    }

    .flex-dir{
      display: flex;
      justify-content:flex-end;
      height: 80px;
  }
  .flex-dir ul{
    position: absolute;
      list-style: none;
      
  }
  .nav a{
      text-decoration: none;
      padding: 50px;
      color: black;
      font-weight: 600;
      
      
  }
  .nav {
      display: flex;
      margin-top: 30px;
      
  }
.Hero{
    position: relative;
    

    &-content h1{
        position: absolute;
        color: white;
        top: 30%;
        width: 400px;
         transform: translate(20%);
        text-align: center;
        text-shadow: 2px 2px 2px whitesmoke;
    }
    &-content p{
        position: absolute;
        left: 30px;
        top: 30%;
        width: 500px;
        transform: translate(20%);
        // text-align: center;
        margin-top: 100px;
    }
    
}
h1{
    margin-bottom: 18px;
    font-size: 38px;
}
.special_dishes{
    &-content{
        max-width: 650px;
        margin: auto;
    }
    &-list{
        list-style: none;
    }
    h5{
        padding:10px;
        text-align: center;
    }
}
// .special_dishes 
//   li img{
//     width: 140px;
//     height: 150px;
//     padding: 10px;
//     border-radius: 30px;
   
// }
.menu-special{
  img{
        width: 240px;
        height: 150px;
        padding: 10px;
        border-radius: 30px;
}}
.filterd-dishes {
    ul {
      display: flex;
      flex-wrap: wrap;
      margin-top: 30px;
  
      li {
        background-color: #ffb902;
        color: white;
        padding: 5px 10px;
        border-radius: 30px;
        margin-right: 20px;
        margin-bottom: 20px;
        cursor: pointer;
        font-weight: bold;
        transition: all ease 0.3s;
  
        &.active {
          background-color: black;
        }
  
        &:hover {
          background-color: black;
        }
      }
    }
  }
  .filtered-dishes-results {
    margin-top: 60px;
  
      h5 {
        margin: 10px;
        text-align: center;
        width:200px;
       
      }
  
       img {
    width: 240px;
    height: 150px;
    padding: 10px;
    border-radius: 30px;
      }
  }
  .loader {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#000, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
  
    h1 {
      color: white;
    }
  }
  .alert {
  border: 2px solid #ff4848;
  border-radius: 10px;
  height: 20vh;
  width: 100%;
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
  h3 {
    color: red;
    margin: 0 0 10px 0;
  }
  
  h4{
    margin: 0;
  }
}

.pagination {
    justify-content: center;
    margin: 50px 0 0;
  
    li {
      width: 30px;
      height: 30px;
      border: 1px solid gray;
      margin: 0 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      padding: 8px;
      transition: all ease 0.3s;
  
      &:hover {
        background-color: #ffb902;
        border-color: #ffb902;
      }
    }
  }
  .popup {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 99;
    background-color: rgba(0,0,0, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y:scroll;
  
    h2,p {
      color: white;
    }
  
    p {
      font-size: 12px;
      margin-bottom: 22px;
      height: 200px;
      overflow-y: scroll;
    }
  
    &-content {
      background-color: rgb(17, 17, 17);
      width: 800px;
      height: 700px;
      border-radius: 5px;
      padding: 20px;
    }
  
    &-close {
      position: absolute;
      top: 25px;
      right: 25px;
      color: white;
      font-weight: 600;
      font-size: 14px;
      cursor: pointer;
      transition: all ease 0.3s;
  
      &:hover {
        color: #ff4848;
      }
    }
  
    button {
        border: none;
        outline: none;
        background-color: #ffb902;
        color: black;
        padding: 12px 22px;
        border-radius: 6px;
        font-family: 'Montserrat Alternates', sans-serif;
        font-size: 18px;
        cursor: pointer;
        font-weight: bold;
        margin-top: 24px;
        transition: all ease 0.3s;
  
        &:hover {
          background-color: #ff4848;
        }
      }
  
      .popup-header {
        height: 30vh;
        overflow: hidden;
        margin-bottom: 32px;
        position: relative;
  
        &-category {
          background: white;
          color: black;
          margin: 0;
          padding: 12px 24px;
          border-radius: 6px;
          position: absolute;
          bottom: 255px;
          left: 259px;
        }
  
        img{
          width: 100%;
          height: 100%;
        }
      }
  }
  
  .dish-ingredients {
    margin-bottom: 22px;
    li{
      background: white;
      padding: 8px 12px;
      border-radius: 32px;
      font-size: 14px;
      margin-right: 12px;
    }
  }
  .instructions{
    color: white;
  }
  .add-cart-wrapper{
    position: absolute;
    top:  20%;
    right: 50%;
    display: flex;
    width: 400px;
    height: auto;
    min-height: 300px;
    background-color: white;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.8);
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    background-color: azure;
    
   
  }
  .add-cart-item img{
   background-color: #ffb902;
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 3px;
  }
  .add-cart-item h6{
    width: 50px;
    margin-left: 50px;
  }
  .add-cart-item h5{
       margin: 50px;
       font-size: large;

  }
  .show {
    height: 10vh;
    width: 100px;
    overflow: hidden;
    margin-bottom: 32px;
    position: relative;

    &-category {
      display: flex;
      justify-content: flex-end;
      background: white;
      color: black;
      margin: 0;
      // padding: 12px 24px;
      border-radius: 6px;
      position: absolute;
      // bottom: 255px;
      
    }

  }

  .cartBtn{
    color: black;
    border: none;
    background: none;
    font-weight: 600;
    font-size: 1.05em;
    
  }
.aftercart{
  padding: 2px;

  &-button{
    display: flex;
  }

  &-count{
    color: white;
    
  }

 button{
  position: absolute;
  width: 1px;
  height: 5px;
  padding: 20px;
  color: black;
  margin-top:1px;
  margin-left: 1px;
 }
}


.cart-count {
  margin:10px 20px 40px 60px;
  color: whitesmoke;
}
header .cart-count-header {
  width: 20px;
  height: 20px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff398f;
  border-radius: 50%;
  position: absolute;
  top: 50px;
  right: 50px;
}
.cart-image{
  position:absolute;
  top:-50px;
  right: 70px;
}

.remove button{
  position:absolute;
  margin-top: -62px;
  right: 4px;
  background-color: #ffb902;
  border: none;
  border-radius: 5px;
  padding: 5px;
}
.plus-minus{
  position: absolute;
  margin-top: -63px;
  left: 230px;
}
.plus-minus .minus{
  position: absolute;
  margin-top: -20px;
  right: 30px;
  padding: 5px;
  background-color: #ffb902;
  border: none;
  border-radius: 5px;
  }

.plus-minus .plus{
  position: absolute;
  left: 30px;
  padding: 5px;
  background-color: #ffb902;
  border: none;
  border-radius: 5px;
}